:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.routing  {
  height: 100vh;
  width: 100%;
  background: rgb(255, 4, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.about {
  height: 100vh;
  width: 100%;
  background: rgb(121, 177, 9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.home {
  height: 100vh;
  width: 100%;
  background: rgb(210, 52, 3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.services {
  height: 100vh;
  width: 100%;
  background: rgb(182, 0, 151);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p{
  font-size: 2rem;
}